# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
python-packages/
wheels/
pip-cache/
get-pip.py

# IDE
.idea/
.vscode/

# App data
app/data/
*.db
app/data/*.db-shm
app/data/*.db-wal
app/data/backup/
app/data/theme.json

# Build
build/
dist/
*.spec
MacTodo

# Portable
portable/python/
portable/app/data/

# Alembic
alembic.ini
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Archive
*.zip

# Logs
*.log
error.log
crash.log

# Temp
.tmp/
python-tmp/
